*{
 font-family: Verdana;   
}
.center{
    margin: 0 auto;
}
.write{
     position: relative;
    top: 30px;
    width: 250px;
    height: 200px;
    word-wrap: break-word;
    resize: none;
    left: 20px;
}
.edit{
    position: relative;
    padding-top: 30px;
    width: 200px;
    left: 20px;
    cursor: pointer;
}
.unchangeinfo{
    position: relative;
    left:20px;
}
.personaldata{
 background-color: bisque;
    padding-left: 20px;
}
#page{
 background-color: aqua;
    z-index: -5;
    width: 1300px;
    height: 95vh;
}
#navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: cornflowerblue;
    height: 5vh;
    min-width: 100%;
}
#generalsearch{
    position: relative;
    top:7px; 
    left: 200px;
    width: 300px;
    height:20px;
}
#navprofile{
    position: relative;
    top: -26px;
    left: 1050px;
    width: 300px;
    height: 5vh;
    z-index: 6;
    background-color:firebrick;
}
#profilesettingcon{
    position: relative;
    top: -26px;
    width: 200px;
    height: 200px;
    left: 1050px;
    background-color: darkmagenta;
    z-index: 100;
}
#logout{
    text-align: center;
    cursor: pointer;
    background-color: darkgoldenrod;
}
#topbar{
 background-color:darkslateblue;
    height: 200px;
    width: 1300px;
    z-index: -1;
}
#yourstats{
    position: relative;
    left: 550px;
    top: -330px;
    height: 200px;
    width: 700px;
    background-color: antiquewhite;
    z-index: 0;
}
#statistics{
    top: 20px;
    text-align: center;
    font-size: 17px;
}
#personalinfo{
    position: relative;
    top: -300px;
    left: 50px;
    height: 500px;
    width: 300px;
    background-color: antiquewhite
}
#savechanges{
    position: absolute;
    left: 20px;
    top: 400px;
}
#cancelchangeinfo{
    position: absolute;
    left: 150px;
    top: 400px;
}
#profile{
 position: relative;
    height: 200px;
    width: 350px;
    background-color: darkcyan;
    top: -113px;
    left: 50px;
}
#profiledata{
    position: absolute;
    top: 50px;
    left:200px;
}
#reputation{
 position: relative;
    top: 40px;
}
#followers{
 position: relative;
    top: 80px;
}
#youractivity{
    position: relative;
    top: -750px;
    left: 450px;
    height: 400px;
    width: 700px;
    background-color: darkorange;
}
#activitytabs{
    position: absolute;
    top: 20px;
    left: 50px;
}
#activitycontenttab{
    position: relative;
    height: 35px;
    width: 150px;
    background-color:darkseagreen;
    display: inline;
    float: left;
    text-align: center;
}
#activitypeertuttab{
    position: relative;
    height: 35px;
    width: 150px;
    background-color:forestgreen;
    display: inline;
    float: left;
    text-align: center;
}
#youruploadedcontent{
    position: absolute;
    top: 55px;
    left: 50px;
    height: 200px;
    width: 400px;
    background-color:darkseagreen;
}
#yourpeertutoringsessions{
    position: absolute;
    top: 55px;
    left: 50px;
    height: 200px;
    width: 400px;
    background-color:forestgreen;
}