*{
 font-family: Verdana;   
}
.center{
    margin: 0 auto;
}
.xbutton{
    color: white;
    position: relative;
    left: 4px;
    top: -2px;
}
.write{
     position: relative;
    top: 30px;
    width: 250px;
    height: 200px;
    word-wrap: break-word;
    resize: none;
    left: 20px;
}
.edit{
    position: relative;
    padding-top: 30px;
    width: 200px;
    left: 20px;
    cursor: pointer;
}
.unchangeinfo{
    position: relative;
    left:20px;
}
.personaldata{
 background-color: bisque;
    padding-left: 20px;
}
#closecreate{
 	width: 18px;
	height: 18px;
	background: #005B80;
	border-radius:9px;
	position: relative;
	top: 10px;
	left: 360px;
    cursor: pointer;
}
body{
    background: linear-gradient(#363636, #006BAD);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
#htmlpage{
    background: linear-gradient(#9E9E9E 1%, #DEDEDE 99%);
    background-repeat: no-repeat;
    position: relative;
    top: -8px;
    width: 1300px;
    height: 1500px;
}
#navbar{
    position:absolute;
    background-color: #35B7DB;
    top: 0px;
    height: 40px;
    min-width: 100%;
    left: 0px;
    z-index: 1;
}
#navbarinfo{
    position: relative;
    top: -8px;
    left: 0px;
    height: 40px;
    z-index: 1;
}
#generalsearch{
    position: absolute;
    top: 7px; 
    left: 150px;
    width: 300px;
    height:20px;
}
#navprofile{
    position: relative;
    top: 0px;
    left: 1200px;
    width: 200px;
    height: 40px;
    background-color: #00A32C;
    cursor: pointer;
    z-index: 1;
}
#navprofile:hover{
    background-color: #308014;
}
#profilesettingcon{
    position: relative;
    top: -40px;
    width: 200px;
    height: 40px;
    left: 1200px;
    background-color: #00D2F2;
}
#accountsettings{
    text-align: center;
    cursor: pointer;
}
#logout{
    text-align: center;
    cursor: pointer;
}
#hyperlinkbuttons{
    position: absolute;
    top: 0px;
    left: 500px;
    width: 360px;
}
#browsebutton{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#peertutoring{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#create{
    position: relative;
    cursor: pointer;
    display: inline;
    float: left;
    padding: 10px;
}
#forum{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#createpopupbox{
    position: relative;
    top: 200px;
    height: 200px;
    width: 400px;
    background-color: red;
    z-index: 20;
}
#resourcelessoncreate{
    position: relative;
    top: 40px;
    text-align: center;
}
#coursecreate{
    position: relative;
    top: 75px;
    text-align: center;
}
#topbar{
 background-color: #005B80;
    height: 200px;
    width: 1300px;
}
#yourstats{
    position: relative;
    left: 550px;
    top: -330px;
    height: 200px;
    width: 700px;
    background-color: #0A6CA8;
}
#statistics{
    top: 20px;
    text-align: center;
    font-size: 17px;
}
#milestoneawards{
 position: absolute;
    top: 160px;
    width: 700px;
    height: 40px;
    background-color: #FFBC4F;
}
#personalinfo{
    position: relative;
    top: -300px;
    left: 50px;
    height: 500px;
    width: 300px;
    background-color: #FCCC72;
}
#savechanges{
    position: absolute;
    left: 20px;
    top: 400px;
}
#cancelchangeinfo{
    position: absolute;
    left: 150px;
    top: 400px;
}
#profile{
 position: relative;
    height: 200px;
    width: 350px;
    background-color: #0B7ABF;
    border: solid white 1px;
    top: -113px;
    left: 50px;
}
#profiledata{
    position: absolute;
    top: 50px;
    left:200px;
}
#reputation{
 position: relative;
    top: 40px;
}
#followers{
 position: relative;
    top: 80px;
}
#featuredlessonsandcourses{
    position: relative;
    top: -800px;
    left: 450px;
    height: 500px;
    width: 800px;
    background-color: white;
    border: solid black 1px;
}
#youruploads{
 position: absolute;
    top: 900px;
    left: 50px;
    width: 1200px;
    height: 200px;
    background-color: white;
    border: solid black 1px;
}
#youractivity{
    position: absolute;
    top: 1150px;
    left: 50px;
    width: 1200px;
    height: 200px;
    background-color: white;
    border: solid black 1px;
}
#addachapter{
    position: absolute;
    top: 1400px;
    left: 50px;
    width: 1200px;
    height: 50px;
    background-color: white;
    border: solid black 1px;
}
#addchapterp{
 position: absolute;
    left: 200px;
    top: 13px;
}
#addchaptercircle{
    position: absolute;
    width: 30px;
	height: 30px;
    left: 50px;
    top: 10px;
	background: #005B80;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius:15px;
}
#addchapterplusone{
    position: absolute;
    top: 5px;
    left: 13px;
    width: 5px;
    height: 20px;
    background-color: lightgrey;
}
#addchapterplustwo{
    position: absolute;
    top: 12px;
    left: 5px;
    width: 20px;
    height: 5px;
    background-color: lightgrey;
}