*{
 font-family: Verdana;   
}
.center{
    margin: 0 auto;
}
#navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: cornflowerblue;
    height: 40px;
    min-width: 100%;
}
#generalsearch{
    position: relative;
    top:7px; 
    left: 200px;
    width: 300px;
    height:20px;
}
#htmlpage{
 position: relative;
    top: 0px;
    width: 1300px;
    height:100%;
    background-color: aqua;
    z-index: -5;
}
#yourstats{
    position: relative;
    top: 80px;
    left: 500px;
    height: 200px;
    width: 700px;
    background-color: antiquewhite;
}
#statistics{
    top: 20px;
    text-align: center;
    font-size: 17px;
}
#personalinfo{
    position: relative;
    height: 400px;
    width: 300px;
    background-color: antiquewhite;
    left: 50px;
    top: 150px;
}
#aboutyou{
    position: relative;
    top: 30px;
    width: 250px;
    height: 200px;
    word-wrap: break-word;
    resize: none;
    left: 20px;
}