*{
 font-family: Verdana;   
}
.center{
    margin: 0 auto;
}
.xbutton{
    color: white;
    position: relative;
    left: 4px;
    top: -2px;
}
.dashboardtab{
    position: relative;
 top: -10px;   
}
#closecreate{
 	width: 18px;
	height: 18px;
	background: #005B80;
	border-radius:9px;
	position: relative;
	top: 10px;
	left: 360px;
    cursor: pointer;
}
body{
 background-color: #FFFBF5;
    height: 100vh;
}
#htmlpage{
    background-color: #ABFFAE;
    position: relative;
    top: -8px;
    width: 1300px;
    height: 2500px;
}
#navbar{
    position: fixed;
    background-color: cornflowerblue;
    top: 0px;
    height: 40px;
    min-width: 100%;
    left: 0px;
}
#navbarinfo{
    position: relative;
    top: -8px;
    left: 0px;
    height: 40px;
    z-index: 1;
}
#generalsearch{
    position: absolute;
    top: 7px; 
    left: 150px;
    width: 300px;
    height:20px;
}
#navprofile{
    position: relative;
    top: 0px;
    left: 1200px;
    width: 200px;
    height: 40px;
    background-color:firebrick;
    cursor: pointer;
    z-index: 1;
}
#profilesettingcon{
    position: relative;
    top: -40px;
    width: 200px;
    height: 40px;
    left: 1200px;
    background-color: #298DFF;
}
#logout{
    text-align: center;
    cursor: pointer;
    background-color: darkgoldenrod;
}
#dashboard{
    position: absolute;
    top: 50px;
    left: 100px;
    height: 2300px;
    width: 1100px;
    background-color: dimgrey;
}
#dashboardyourcourses{
    position: relative;
    display: inline;
    float: left;
    background-color:azure;
    height: 34px;
    width: 99px;
    border-right: solid black 1px;
    cursor:default;
}
#mycoursesbox{
    position: absolute;
    top: 34px;
    height: 2280px;
    width: 1100px;
    background-color: white;
}
#dashboardyourlikedcontent{
    position: relative;
    display: inline;
    float: left;
    background-color:azure;
    height: 33px;
    width: 99px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    cursor:default;
}
#mylikesbox{
    position: absolute;
    top: 34px;
    height: 2280px;
    width: 1100px;
    background-color: white;
}
#dashboardyoursubs{
    position: relative;
    display: inline;
    float: left;
    background-color:azure;
    height: 33px;
    width: 100px;
    border-bottom: solid black 1px;
    cursor: default;
}
#mysubsbox{
    position: absolute;
    top: 34px;
    height: 2280px;
    width: 1100px;
    background-color: white;
}
#fillinspace{
    position: relative;
    display: inline;
    float: left;
    background-color:azure;
    height: 33px;
    width: 799px;
    border-left: solid black 1px;
}

#hyperlinkbuttons{
    position: absolute;
    top: 0px;
    left: 500px;
}
#browsebutton{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#peertutoring{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#create{
    position: relative;
    cursor: pointer;
    display: inline;
    float: left;
    padding: 10px;
}
#forum{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#createpopupbox{
    position: relative;
    top: 200px;
    height: 200px;
    width: 400px;
    background-color: red;
    z-index: 20;
}
#resourcelessoncreate{
    position: relative;
    text-align: center;
}
#resourcelessoncreate{
    position: relative;
    top: 40px;
    text-align: center;
}
#coursecreate{
    position: relative;
    top: 75px;
    text-align: center;
}