*{
 font-family: Verdana;   
}
.center{
    margin: 0 auto;
}
.xbutton{
    color: white;
    position: relative;
    left: 4px;
    top: -2px;
}
.dashboardtabp{
    position: relative;
    top: -10px;
}
#closecreate{
 	width: 18px;
	height: 18px;
	background: #005B80;
	border-radius:9px;
	position: relative;
	top: 10px;
	left: 360px;
    cursor: pointer;
}
body{
    background: linear-gradient(#363636, #006BAD);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
#htmlpage{
    background: linear-gradient(#DBDBDB, #DEDEDE);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: -8px;
    width: 1300px;
    height: 2100px;
}
#navbar{
    position: absolute;
    background-color: #35B7DB;
    top: 0px;
    height: 40px;
    min-width: 100%;
    left: 0px;
    z-index: 1;
}
#navbarinfo{
    position: relative;
    top: -8px;
    left: 0px;
    height: 40px;
    z-index: 1;
}
#generalsearch{
    position: absolute;
    top: 7px; 
    left: 150px;
    width: 300px;
    height:20px;
}
#navprofile{
    position: relative;
    top: 0px;
    left: 1200px;
    width: 200px;
    height: 40px;
    background-color: #00A32C;
    cursor: pointer;
    z-index: 1;
}
#navprofile:hover{
    background-color: #308014;
}
#profilesettingcon{
    position: relative;
    top: -40px;
    width: 200px;
    height: 40px;
    left: 1200px;
    background-color: #00D2F2;
}
#accountsettings{
    text-align: center;
    cursor: pointer;
}
#logout{
    text-align: center;
    cursor: pointer;
}
#dashboard{
    position: absolute;
    top: 115px;
    left: 100px;
    height: 1914px;
    width: 1100px;
    background-color: dimgrey;
}
#dashboardyourcourses{
    position: relative;
    display: inline;
    float: left;
    background-color:white;
    height: 33px;
    width: 98px;
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    cursor:default;
}
#mycoursesbox{
    position: absolute;
    top: 34px;
    height: 1879px;
    width: 1098px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    background-color: white;
}
#dashboardyourlikedcontent{
    position: relative;
    display: inline;
    float: left;
    background-color:white;
    height: 32px;
    width: 99px;
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    cursor:default;
}
#mylikesbox{
    position: absolute;
    top: 34px;
    height: 1879px;
    width: 1098px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    background-color: white;
}
#dashboardyoursubs{
    position: relative;
    display: inline;
    float: left;
    background-color:white;
    height: 32px;
    width: 99px;
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    cursor: default;
}
#mysubsbox{
    position: absolute;
    top: 34px;
    height: 1879px;
    width: 1098px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    background-color: white;
}
#dashboardtutoringsessions{
    position: relative;
    display: inline;
    float: left;
    background-color:white;
    height: 32px;
    width: 99px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    cursor: default;
}
#mytutoringsessionsbox{
    position: absolute;
    top: 34px;
    height: 1879px;
    width: 1098px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    background-color: white;
}
#fillinspace{
    position: relative;
    display: inline;
    float: left;
    background-color:white;
    height: 32px;
    width: 699px;
    border: solid black 1px;
}

#hyperlinkbuttons{
    position: absolute;
    top: 0px;
    left: 500px;
    width: 360px;
}
#browsebutton{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#peertutoring{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#create{
    position: relative;
    cursor: pointer;
    display: inline;
    float: left;
    padding: 10px;
}
#forum{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#createpopupbox{
    position: relative;
    top: 200px;
    height: 200px;
    width: 400px;
    background-color: red;
    z-index: 20;
}
#resourcelessoncreate{
    position: relative;
    text-align: center;
}
#resourcelessoncreate{
    position: relative;
    top: 40px;
    text-align: center;
}
#coursecreate{
    position: relative;
    top: 75px;
    text-align: center;
}