*{
 font-family: Verdana;   
}
.center{
    margin: 0 auto;
}
.xbutton{
    color: white;
    position: relative;
    left: 4px;
    top: -2px;
}
#closecreate{
 	width: 18px;
	height: 18px;
	background: #005B80;
	border-radius:9px;
	position: relative;
	top: 10px;
	left: 360px;
    cursor: pointer;
}
body{
 background-color:beige;
    height: 100vh;
}
#htmlpage{
    background-color: aqua;
    position: relative;
    top: 32px;
    width: 1300px;
    height: 100vh;
}
#navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: cornflowerblue;
    height: 40px;
    min-width: 100%;
    z-index: 1;
}
#generalsearch{
    position: absolute;
    top: 7px; 
    left: 150px;
    width: 300px;
    height:20px;
}
#navprofile{
    position: relative;
    top: 0px;
    left: 1050px;
    width: 200px;
    height: 40px;
    background-color:firebrick;
    cursor: pointer;
    z-index: 1;
}
#profilesettingcon{
    position: relative;
    top: -40px;
    width: 200px;
    height: 40px;
    left: 1050px;
    background-color: darkmagenta;
}
#logout{
    text-align: center;
    cursor: pointer;
    background-color: darkgoldenrod;
}
#dashboardandbrowsetabs{
    position: absolute;
    top: 300px;
    left: 100px;
    cursor: pointer;
}
#dashboardtab{
    height: 30px;
    width: 300px;
    background-color: dimgrey;
    display: inline;
    float: left;
}
#browsetab{
    height: 30px;
    width: 100px;
    background-color:darkseagreen;
    display: inline;
    float: left;
}
#dashboardandbrowsebox{
    position: absolute;
    top: 330px;
    left: 100px;
}
#dashboard{
    position: absolute;
    height: 300px;
    width: 1100px;
    background-color: dimgrey;
}
#dashboardyourcourses{
    position: relative;
    display: inline;
    float: left;
    background-color:azure;
    height: 21px;
    width: 99px;
    border-right: solid black 1px;
}
#mycoursesbox{
    position: absolute;
    top: 21px;
    height: 280px;
    width: 1100px;
    background-color: white;
}
#dashboardyourlikedcontent{
    position: relative;
    display: inline;
    float: left;
    background-color:azure;
    height: 20px;
    width: 99px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}
#mylikesbox{
    position: absolute;
    top: 21px;
    height: 280px;
    width: 1100px;
    background-color: white;
}
#dashboardyoursubs{
    position: relative;
    display: inline;
    float: left;
    background-color:azure;
    height: 20px;
    width: 100px;
    border-bottom: solid black 1px;
}
#mysubsbox{
    position: absolute;
    top: 21px;
    height: 280px;
    width: 1100px;
    background-color: white;
}
#browse{
    position: absolute;
    height: 300px;
    width: 1100px;
    background-color: darkseagreen;
}
#peertutoring{
    position: absolute;
    top: 150px;
    left:800px;
}
#create{
    position: relative;
    top: 150px;
    left:950px;
    cursor: pointer;
    width: 200px;
}
#forum{
    position: absolute;
    top: 150px;
    left:1050px; 
}
#createpopupbox{
    position: relative;
    top: 200px;
    height: 200px;
    width: 400px;
    background-color: red;
    z-index: 20;
}
#resourcelessoncreate{
    position: relative;
    text-align: center;
}
#resourcelessoncreate{
    position: relative;
    top: 40px;
    text-align: center;
}
#coursecreate{
    position: relative;
    top: 75px;
    text-align: center;
}