*{
 font-family: Verdana;   
}
.center{
    margin: 0 auto;
}
.xbutton{
    color: white;
    position: relative;
    left: 4px;
    top: -2px;
}
.resourcecontainer{
    position: relative;
    margin-top: 50px;
    width: 800px;
    left: 250px;
}
.uploadresource{
    position: relative;
    top: 50px;
    height: 200px;
    width: 800px;
    background-color: white;
}
.resourcedescription{
    position: relative;
    top: 50px;
    height: 200px;
    width: 800px;
    background-color:chocolate;
    resize: none;
    overflow: auto;
    
}
.createordeleteresourcecon{
    position: relative;
    top: 46px;
    height: 40px;
    width: 100px;
    background-color: black;
}
.addcircle{
    position: relative;
    width: 30px;
	height: 30px;
    left: 60px;
    top: 5px;
	background: #00A32C;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius:15px;
}
.addcircle:hover{
    background-color: #308014;
}
.addcircleplusone{
    position: absolute;
    top: 5px;
    left: 13px;
    width: 5px;
    height: 20px;
    background-color: white;
}
.addcircleplustwo{
    position: absolute;
    top: 12px;
    left: 5px;
    width: 20px;
    height: 5px;
    background-color: white;
}
#closecreate{
 	width: 18px;
	height: 18px;
	background: #005B80;
	border-radius:9px;
	position: relative;
	top: 10px;
	left: 360px;
    cursor: pointer;
}
body{
    background: linear-gradient(#363636, #006BAD);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
#htmlpage{
    background: linear-gradient(#DBDBDB, #DEDEDE);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: -8px;
    width: 1300px;
    height: 2100px;
}
#navbar{
    position: absolute;
    background-color: #35B7DB;
    top: 0px;
    height: 40px;
    min-width: 100%;
    left: 0px;
    z-index: 1;
}
#navbarinfo{
    position: relative;
    top: -8px;
    left: 0px;
    height: 40px;
    z-index: 1;
}
#generalsearch{
    position: absolute;
    top: 7px; 
    left: 150px;
    width: 300px;
    height:20px;
}
#navprofile{
    position: relative;
    top: 0px;
    left: 1200px;
    width: 200px;
    height: 40px;
    background-color: #00A32C;
    cursor: pointer;
    z-index: 1;
}
#navprofile:hover{
    background-color: #308014;
}
#profilesettingcon{
    position: relative;
    top: -40px;
    width: 200px;
    height: 40px;
    left: 1200px;
    background-color: #0880A8;
    color:bisque;
}
#accountsettings{
    text-align: center;
    cursor: pointer;
}
#logout{
    text-align: center;
    cursor: pointer;
}
#hyperlinkbuttons{
    position: absolute;
    top: 0px;
    left: 500px;
    width: 360px;
    color: white;
}
#browsebutton{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#peertutoring{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#create{
    position: relative;
    cursor: pointer;
    display: inline;
    float: left;
    padding: 10px;
}
#forum{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#createpopupbox{
    position: relative;
    top: 200px;
    height: 200px;
    width: 400px;
    background-color: red;
    z-index: 20;
}
#resourcelessoncreate{
    position: relative;
    top: 40px;
    text-align: center;
}
#coursecreate{
    position: relative;
    top: 75px;
    text-align: center;
}
#title{
    position: absolute;
    top: 50px;
    left: 500px;
    width: 200px;
    padding: 5px;
}
#takeaway{
    position: absolute;
    top: 100px;
    left: 500px;
    width: 200px;
    padding: 5px;
}
#gendescription{
    position: relative;
    border-bottom: 50px;
    top:150px;
    left: 500px;
    resize: none;
    height: 160px;
    width: 300px;
    overflow: auto;
    margin-bottom: 90px;
}