*{
 font-family: Verdana;   
}
.center{
    margin: 0 auto;
}
.xbutton{
    color: white;
    position: relative;
    left: 4px;
    top: -2px;
}
#closecreate{
 	width: 18px;
	height: 18px;
	background: #005B80;
	border-radius:9px;
	position: relative;
	top: 10px;
	left: 360px;
    cursor: pointer;
}
body{
    background: linear-gradient(#363636, #006BAD);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
#htmlpage{
    background: linear-gradient(#DBDBDB, #DEDEDE);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: -8px;
    width: 1300px;
    height: 1100px;
}
#navbar{
    position: absolute;
    background-color: #35B7DB;
    top: 0px;
    height: 40px;
    min-width: 100%;
    left: 0px;
    z-index: 1;
}
#navbarinfo{
    position: relative;
    top: -8px;
    left: 0px;
    height: 40px;
    z-index: 1;
}
#generalsearch{
    position: absolute;
    top: 7px; 
    left: 150px;
    width: 300px;
    height:20px;
}
#navprofile{
    position: relative;
    top: 0px;
    left: 1200px;
    width: 200px;
    height: 40px;
    background-color: #00A32C;
    cursor: pointer;
    z-index: 1;
}
#navprofile:hover{
    background-color: #308014;
}
#profilesettingcon{
    position: relative;
    top: -40px;
    width: 200px;
    height: 40px;
    left: 1200px;
    background-color: #0880A8;
    color:bisque;
}
#accountsettings{
    text-align: center;
    cursor: pointer;
}
#logout{
    text-align: center;
    cursor: pointer;
}
#hyperlinkbuttons{
    position: absolute;
    top: 0px;
    left: 500px;
    width: 470px;
    color: white;
}
#browsebutton{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#homepagelink{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
    cursor: pointer;
}
#create{
    position: relative;
    cursor: pointer;
    display: inline;
    float: left;
    padding: 10px;
}
#forum{
    position: relative;
    display: inline;
    float: left;
    padding: 10px;
}
#createpopupbox{
    position: relative;
    top: 200px;
    height: 200px;
    width: 400px;
    background-color: red;
    z-index: 20;
}
#resourcelessoncreate{
    position: relative;
    top: 40px;
    text-align: center;
}
#coursecreate{
    position: relative;
    top: 75px;
    text-align: center;
}
#lessontitle{
    position: absolute;
    top: 40px;
    left: 100px;
    width: 500px;
    padding: 5px;
}
#lessondescription{
    position: absolute;
    top: 90px;
    left: 100px;
    width: 500px;
    height: 100px;
    padding: 5px;
    overflow: auto;
    resize: none;
}
#submitsupportingcontent{
    position: absolute;
    top: 240px;
    left: 100px;
    padding-left: 200px;
    padding-top: 150px;
    padding-right: 200px;
    padding-bottom: 150px;
    background-color: white;
    border: 1px black dotted;
}

#uploadtextareaorreading{
    position:absolute;
    top: 800px;
    left: 100px;
    width: 500px;
    height: 300px;
    background-color: darkgray;
}
#writenlecture{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height50px;
    resize: none;
    overflow: auto;
}
#insertreading{
    position: absolute;
    top: 100px;
    left: 20px;
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
}
#submitchanges{
    position: absolute;
    top: 740px;
    left: 700px;
    width: 500px;
    height: 20px;
    background-color: green;
    color: white;
    padding-top: 7px;
    padding-bottom:7px;
    text-align: center;
} 